.body {
  height: 1180px;
  background-image: url(./assets/BJJ+Gi.jpg);
}

.body .container {
  height: max-content;
}

.contador {
  color: white;
  margin-left: 5px;
}

.container-card {
  margin-left: 10px;
  margin-top: 5px;
}

.card {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px);
  border: solid 1px black;
}

.detailContainer {
  color: white;
}
